*{
    margin: 0;
    padding: 0;
}
.c1{
     margin-left: 150px;
    margin-right: 150px; 
    z-index: 0;
    position: relative;
    border: none;
    
}
.c1 li{
    margin-left: 25px;
}
.c1 li:hover{
    border-bottom: 4px solid red;
}

.navbar {
  background-color:transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}